* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(102, 0, 204, 0.65), rgb(102, 0, 204, 0.65)), url("/assets/images/background.jpg");
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: rgb(242, 242, 242);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 3rem;
}

#title {
    font-weight: 500;
    letter-spacing: 0.2px;
    font-size: 40px;
}

#description {
    font-weight: 500;
    font-style: italic;
    margin-top: 2rem;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.4px;
}

